In [ ]:
# Check out all the movies and their respective IDs
import pandas as pd
movie_titles = pd.read_csv('https://media.geeksforgeeks.org/wp-content/uploads/Movie_Id_Titles.csv')
movcopy=movie_titles.copy()
movcopy.tail()

      item_id                                      title
1677     1678                          Mat' i syn (1997)
1678     1679                           B. Monkey (1998)
1679     1680                       Sliding Doors (1998)
1680     1681                        You So Crazy (1994)
1681     1682  Scream of Stone (Schrei aus Stein) (1991)

In [ ]:
column_names = ['user_id', 'item_id', 'rating', 'timestamp']

path = 'https://media.geeksforgeeks.org/wp-content/uploads/file.tsv'

df = pd.read_csv(path, sep='\t', names=column_names)

# Check the head of the data
df.tail()

        user_id  item_id  rating  timestamp
99998       880      476       3  880175444
99999       716      204       5  879795543
100000      276     1090       1  874795795
100001       13      225       2  882399156
100002       12      203       3  879959583

In [ ]:
data = pd.merge(df, movie_titles, on='item_id')
data.to_csv('data.csv')
data.tail()

,user_id,item_id,rating,timestamp,title
99998,840,1674,4,891211682,Mamma Roma (1962)
99999,655,1640,3,888474646,"Eighth Day, The (1996)"
100000,655,1637,3,888984255,Girls Town (1996)
100001,655,1630,3,887428735,"Silence of the Palace, The (Saimt el Qusur) (1..."
100002,655,1641,3,887427810,Dadetown (1995)

In [ ]:
# Calculate mean rating of all movies
data.groupby('title')['rating'].mean().sort_values(ascending=False).head()

title
They Made Me a Criminal (1939)                5.0
Marlene Dietrich: Shadow and Light (1996)     5.0
Saint of Fort Washington, The (1993)          5.0
Someone Else's America (1995)                 5.0
Star Kid (1997)                               5.0
Name: rating, dtype: float64

In [ ]:
# creating dataframe with 'rating' count values
ratings = pd.DataFrame(data.groupby(['title'])['rating'].mean())
ratings['num of ratings'] = pd.DataFrame(data.groupby('title')['rating'].count())
ratings.to_csv('checker.csv')
ratings.head()

                             rating  num of ratings
title
'Til There Was You (1997)  2.333333               9
1-900 (1994)               2.600000               5
101 Dalmatians (1996)      2.908257             109
12 Angry Men (1957)        4.344000             125
187 (1997)                 3.024390              41

In [ ]:
# Sorting values according to
# the 'num of rating column'
moviemat = data.pivot_table(index ='user_id',columns ='title', values ='rating')

#moviemat.head(10)
avg_ratings=ratings.sort_values('num of ratings', ascending = False).head()
#NOw CSV
#
#
ratings = pd.read_csv('checker.csv')
avg_ratings=ratings.sort_values('num of ratings', ascending = True)

avg_ratings.to_csv('averageratings.csv')

avg_ratings=pd.read_csv('averageratings.csv')
df = pd.read_csv("data.csv")



df_merged = ratings.merge(df,on='title',how='inner')
df_merged.to_csv("Final.csv")

In [ ]:
value=input("Enter the name of the movie: ")
value_user_ratings=moviemat[value]
value_user_ratings.head(10)

Enter the name of the movie: 101 Dalmatians (1996)

user_id
0    NaN
1    2.0
2    NaN
3    NaN
4    NaN
5    2.0
6    NaN
7    NaN
8    NaN
9    NaN
Name: 101 Dalmatians (1996), dtype: float64

In [ ]:
# analysing correlation with similar movies
similar_to_value = moviemat.corrwith(value_user_ratings)

corr_value = pd.DataFrame(similar_to_value, columns =['Correlation'])
corr_value.dropna(inplace = True)

corr_value.head(1500)

/usr/local/lib/python3.7/dist-packages/numpy/lib/function_base.py:2683: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
/usr/local/lib/python3.7/dist-packages/numpy/lib/function_base.py:2542: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

                                       Correlation
title
'Til There Was You (1997)                -1.000000
101 Dalmatians (1996)                     1.000000
12 Angry Men (1957)                      -0.049890
187 (1997)                                0.269191
2 Days in the Valley (1996)               0.048973
...                                            ...
Young Frankenstein (1974)                 0.158840
Young Guns (1988)                         0.119234
Young Guns II (1990)                      0.680414
Young Poisoner's Handbook, The (1995)     0.000000
Zeus and Roxanne (1997)                   0.707107

[1118 rows x 1 columns]

In [ ]:
# Similar movies like input
corr_value.sort_values('Correlation', ascending = False).head(10)
#corr_value = corr_value.join(ratings['num of ratings'])
corr_value.sort_values(by=['Correlation'], ascending=False).head(1662)
#corr_value.head()

#corr_value[corr_value['num of ratings']>100].sort_values('Correlation', ascending = False).head()

                                                    Correlation
title
Hard Rain (1998)                                            1.0
Winter Guest, The (1997)                                    1.0
Fatal Instinct (1993)                                       1.0
Faithful (1996)                                             1.0
Trial by Jury (1994)                                        1.0
...                                                         ...
Unhook the Stars (1996)                                    -1.0
Warriors of Virtue (1997)                                  -1.0
Unstrung Heroes (1995)                                     -1.0
Until the End of the World (Bis ans Ende der We...         -1.0
Robocop 3 (1993)                                           -1.0

[1118 rows x 1 columns]

In [ ]:
group_users = []
n = int(input("Enter number of member in the group : "))
# iterating till the range
for i in range(0, n):
   print("Enter Userid No-{}: ".format(i+1))
   elm = int(input())
   group_users.append(elm) # adding the element
print("The entered list is: \n",group_users)

Enter number of member in the group : 2
Enter Userid No-1:
1
Enter Userid No-2:
2
The entered list is:
 [1, 2]

In [ ]:
import csv
myfinal_list=[]
temp1=[]
my_list=[]
sum=0
numoffilms=0
x = pd.read_csv("Final.csv")
n=len(x)
n_movies = len(x['item_id'].unique())
print(f'Movies - : {n_movies}')
print(f"Total - : {n}")

ratinglist=[]

Movies - : 1682
Total - : 100003

In [ ]:
with open('Final.csv', 'r') as df:
  mycsv = csv.reader(df)
  mycsv = list(mycsv)
  cnt = 1
  temp = int(mycsv[1][3])
  i = 1
  while(i < n):
    my_list.append(mycsv[i][1])
    i = i+int(mycsv[i][3])

In [ ]:
with open('Final.csv', 'r') as df:
  mycsv = csv.reader(df)
  mycsv = list(mycsv)
  i = 1
  movieid = mycsv[1][6]
  num = mycsv[1][3]
  #####
  #print(my_list)
  #####
  checker = int(mycsv[1][3])
  x = 1
  breakpoints = []
  while(x < n):
    if x >= checker:
      breakpoints.append(checker)
      checker += int(mycsv[x+1][3])
    x = x+1
  print(breakpoints)

[9, 14, 123, 248, 289, 382, 454, 713, 718, 777, 815, 819, 823, 831, 836, 963, 1114, 1217, 1254, 1258, 1345, 1399, 1410, 1449, 1560, 1627, 1653, 1805, 1823, 1888, 1889, 1932, 2363, 2379, 2411, 2461, 2680, 2706, 2719, 2725, 2806, 3097, 3197, 3321, 3605, 3671, 3686, 3689, 3690, 3702, 3978, 3996, 4006, 4017, 4019, 4183, 4185, 4284, 4334, 4458, 4463, 4469, 4473, 4526, 4540, 4545, 4548, 4567, 4571, 4609, 4675, 4693, 4697, 4703, 4704, 4705, 4777, 4816, 4830, 4832, 4865, 4886, 5066, 5094, 5163, 5170, 5233, 5454, 5730, 5785, 5810, 5825, 5985, 6039, 6155, 6214, 6297, 6412, 6524, 6563, 6581, 6622, 6634, 6635, 6765, 6773, 6780, 6783, 6784, 7003, 7013, 7015, 7018, 7368, 7387, 7444, 7453, 7459, 7465, 7481, 7485, 7501, 7558, 7567, 7597, 7625, 7678, 7779, 7819, 7863, 7879, 7941, 8142, 8256, 8398, 8399, 8490, 8492, 8499, 8585, 8700, 8729, 8931, 9087, 9147, 9204, 9253, 9279, 9289, 9293, 9409, 9425, 9462, 9586, 9688, 9694, 9699, 9705, 9784, 9804, 9832, 9880, 9883, 9885, 9903, 9911, 9912, 9929, 9943, 9957, 9999, 10170, 10171, 10244, 10248, 10285, 10316, 10317, 10610, 10772, 10782, 10785, 10812, 10867, 11142, 11161, 11168, 11214, 11236, 11242, 11247, 11257, 11258, 11287, 11305, 11314, 11326, 11371, 11399, 11650, 11735, 11748, 11770, 11839, 11861, 11865, 11987, 12176, 12208, 12409, 12457, 12501, 12630, 12645, 12651, 12657, 12662, 12664, 12677, 12711, 12714, 12790, 12804, 12924, 12956, 13253, 13461, 13473, 13550, 13645, 13719, 13765, 13930, 13997, 14065, 14319, 14327, 14375, 14380, 14381, 14454, 14455, 14465, 14469, 14518, 14604, 14628, 14637, 14644, 14860, 14862, 14863, 14878, 14882, 14898, 15004, 15007, 15036, 15075, 15140, 15161, 15247, 15418, 15421, 15460, 15461, 15515, 15517, 15521, 15526, 15647, 15658, 15671, 15914, 16005, 16057, 16061, 16109, 16171, 16203, 16206, 16214, 16216, 16272, 16287, 16297, 16320, 16321, 16401, 16410, 16453, 16493, 16498, 16877, 16896, 16901, 17048, 17117, 17145, 17149, 17278, 17399, 17475, 17673, 17718, 17797, 17841, 17849, 17855, 17951, 17961, 17965, 18144, 18292, 18389, 18482, 18515, 18736, 18848, 19018, 19033, 19158, 19159, 19161, 19165, 19180, 19183, 19320, 19427, 19429, 19470, 19512, 19807, 20316, 20325, 20327, 20409, 20573, 20641, 20816, 20829, 20915, 20954, 20958, 20960, 21181, 21200, 21304, 21432, 21586, 21597, 21607, 21617, 21621, 21649, 21783, 21822, 21824, 21901, 21902, 21983, 22007, 22126, 22134, 22140, 22158, 22159, 22225, 22228, 22247, 22248, 22249, 22250, 22506, 22519, 22527, 22574, 22576, 22816, 22832, 23012, 23023, 23120, 23122, 23179, 23232, 23247, 23311, 23345, 23644, 23895, 23913, 23925, 23953, 23954, 23955, 23984, 24049, 24063, 24183, 24248, 24250, 24342, 24349, 24350, 24357, 24454, 24526, 24528, 24585, 24773, 25013, 25084, 25152, 25395, 25561, 25712, 25743, 25748, 25846, 25886, 25952, 26031, 26107, 26142, 26289, 26296, 26342, 26349, 26362, 26384, 26485, 26520, 26714, 26739, 26897, 26899, 26906, 26930, 26961, 26966, 27059, 27128, 27251, 27258, 27264, 27564, 27623, 27703, 27709, 27842, 27845, 27885, 27998, 27999, 28176, 28544, 28614, 28624, 28628, 29109, 29141, 29142, 29348, 29439, 29530, 29560, 29561, 29625, 29630, 29659, 29786, 29788, 29789, 29957, 30046, 30305, 30357, 30514, 30530, 30557, 30621, 30653, 30654, 30848, 30852, 30863, 30893, 30903, 30906, 30947, 30949, 30994, 31058, 31232, 31239, 31285, 31297, 31805, 31822, 31823, 31855, 31862, 31881, 31941, 32069, 32100, 32105, 32108, 32109, 32153, 32163, 32164, 32189, 32194, 32226, 32234, 32446, 32542, 32739, 32743, 32787, 32788, 32806, 32957, 32997, 33083, 33243, 33490, 33524, 33530, 33561, 33581, 33586, 33628, 33634, 33687, 33701, 33881, 33904, 33928, 33931, 33943, 33957, 33977, 33980, 33984, 34051, 34066, 34068, 34130, 34451, 34463, 34553, 34804, 34865, 34880, 34884, 34917, 34928, 34955, 34997, 35081, 35120, 35130, 35156, 35309, 35424, 35427, 35519, 35855, 36025, 36340, 36348, 36369, 36390, 36391, 36566, 36572, 36823, 37018, 37034, 37058, 37093, 37094, 37230, 37245, 37407, 37437, 37441, 37450, 37659, 37697, 37715, 37716, 37721, 37891, 37934, 38062, 38088, 38117, 38168, 38209, 38212, 38237, 38238, 38239, 38241, 38310, 38358, 38529, 38544, 38957, 39166, 39176, 39178, 39309, 39320, 39492, 39494, 39495, 39693, 39830, 40056, 40076, 40079, 40087, 40326, 40392, 40401, 40405, 40575, 40599, 40600, 40646, 40770, 40797, 40828, 40877, 40896, 40985, 40989, 41149, 41429, 41577, 41581, 41587, 41592, 41625, 41645, 41670, 41760, 41761, 41910, 41925, 41956, 41996, 42000, 42121, 42161, 42179, 42194, 42195, 42199, 42207, 42212, 42435, 42606, 42615, 42642, 42712, 42717, 42790, 42803, 42804, 42817, 42835, 42959, 42970, 43036, 43037, 43046, 43134, 43163, 43193, 43346, 43362, 43418, 43424, 43425, 43562, 43581, 43639, 43671, 43732, 43805, 43922, 43929, 43938, 43939, 44007, 44011, 44025, 44050, 44059, 44077, 44101, 44125, 44146, 44217, 44255, 44365, 44372, 44499, 44500, 44727, 44730, 44739, 44740, 44743, 44744, 44844, 44847, 44857, 44894, 44904, 44921, 44922, 45003, 45111, 45140, 45143, 45206, 45436, 45464, 45482, 45498, 45564, 45568, 45737, 45763, 45865, 45874, 45884, 46313, 46333, 46372, 46703, 46709, 46712, 46714, 46718, 46736, 46873, 46875, 46898, 46899, 46956, 47002, 47083, 47086, 47107, 47338, 47339, 47409, 47416, 47503, 47629, 47774, 47791, 47917, 47980, 47988, 48268, 48334, 48350, 48414, 48419, 48453, 48456, 48840, 48848, 48866, 48911, 48913, 48954, 48955, 48959, 48962, 48985, 49024, 49049, 49145, 49230, 49362, 49407, 49408, 49669, 49751, 49765, 49793, 49852, 49874, 49897, 49905, 49915, 49940, 49947, 49960, 49982, 50031, 50096, 50098, 50102, 50103, 50224, 50264, 50271, 50272, 50276, 50438, 50469, 50489, 50632, 50638, 50755, 50808, 50877, 50919, 51216, 51217, 51221, 51225, 51231, 51232, 51241, 51242, 51249, 51308, 51317, 51321, 51374, 51377, 51435, 51442, 51445, 51573, 51578, 51618, 51639, 51704, 51877, 51881, 51885, 51929, 52227, 52232, 52313, 52314, 52317, 52802, 52803, 52856, 52863, 52873, 53021, 53023, 53243, 53259, 53281, 53283, 53295, 53305, 53346, 53355, 53373, 53475, 53498, 53525, 53530, 53593, 53597, 53602, 53789, 53974, 54029, 54053, 54061, 54073, 54198, 54232, 54390, 54408, 54409, 54421, 54433, 54483, 54484, 54526, 54530, 54532, 54539, 54547, 54557, 54583, 54586, 54596, 54597, 54641, 54847, 54865, 54866, 54886, 54888, 54935, 54936, 54949, 54956, 54983, 55074, 55091, 55096, 55217, 55236, 55282, 55336, 55474, 55475, 55527, 55607, 55675, 55676, 55688, 55695, 55704, 55713, 55844, 55935, 55962, 55975, 56033, 56039, 56052, 56074, 56075, 56292, 56370, 56548, 56587, 56646, 56775, 56776, 56827, 56922, 57050, 57070, 57074, 57082, 57151, 57185, 57210, 57241, 57248, 57250, 57553, 57555, 57605, 57612, 57618, 57654, 57669, 57788, 57880, 57904, 57909, 57989, 58173, 58184, 58187, 58224, 58225, 58314, 58415, 58421, 58522, 58523, 58589, 58933, 58954, 58969, 58970, 59012, 59015, 59107, 59150, 59159, 59475, 59649, 59656, 59705, 59748, 59749, 59918, 59940, 59984, 60277, 60279, 60291, 60396, 60400, 60423, 60519, 60534, 60726, 60748, 60770, 60946, 61028, 61162, 61246, 61464, 61524, 61533, 61633, 61650, 61822, 61833, 61958, 61979, 61982, 62044, 62130, 62251, 62253, 62346, 62373, 62403, 62533, 62541, 62566, 62635, 62637, 62644, 62772, 62853, 62856, 62857, 62861, 62981, 62993, 62994, 62996, 62998, 63002, 63011, 63012, 63013, 63057, 63059, 63091, 63098, 63162, 63198, 63341, 63452, 63455, 63582, 63586, 63592, 63650, 63676, 63766, 63771, 63772, 63818, 63819, 63826, 64005, 64059, 64062, 64063, 64070, 64122, 64146, 64149, 64312, 64318, 64319, 64324, 64330, 64331, 64336, 64368, 64432, 64454, 64539, 64645, 64695, 64733, 64761, 64792, 64904, 65168, 65183, 65222, 65224, 65255, 65262, 65296, 65317, 65389, 65390, 65409, 65513, 65515, 65527, 65549, 65563, 65576, 65581, 65621, 65641, 65648, 65721, 65748, 65749, 65752, 65798, 65814, 65842, 65850, 65883, 66019, 66155, 66163, 66378, 66392, 66396, 66446, 66490, 66498, 66541, 66621, 66634, 66635, 66640, 66884, 67021, 67125, 67293, 67311, 67321, 67402, 67406, 67432, 67546, 67647, 67774, 67817, 67868, 67877, 67890, 67891, 67918, 67925, 67935, 67960, 68143, 68201, 68249, 68250, 68318, 68321, 68485, 68488, 68528, 68706, 68719, 69043, 69058, 69063, 69130, 69230, 69379, 69410, 69416, 69417, 69437, 69469, 69708, 70102, 70181, 70188, 70190, 70197, 70198, 70222, 70249, 70297, 70364, 70367, 70542, 70547, 70559, 70675, 71095, 71240, 71298, 71554, 71624, 71891, 71892, 71910, 72029, 72106, 72315, 72381, 72471, 72479, 72536, 72549, 72601, 72659, 72662, 72687, 72688, 72838, 72881, 72884, 72892, 72931, 73079, 73150, 73194, 73701, 73793, 73798, 73813, 73902, 73923, 73967, 74124, 74125, 74168, 74314, 74331, 74423, 74441, 74497, 74572, 74583, 74961, 75010, 75078, 75115, 75120, 75218, 75352, 75365, 75370, 75460, 75574, 75576, 75599, 75663, 75679, 75853, 75857, 75859, 75923, 76113, 76126, 76128, 76130, 76446, 76448, 76530, 76532, 76535, 76537, 76542, 76840, 76844, 76856, 77334, 77440, 77441, 77487, 77490, 77628, 77634, 77639, 77645, 77724, 77795, 77957, 77973, 78241, 78248, 78302, 78321, 78557, 78712, 78784, 78885, 78887, 78961, 79005, 79006, 79051, 79129, 79130, 79160, 79177, 79223, 79289, 79315, 79598, 79651, 79724, 79736, 79865, 80071, 80074, 80084, 80085, 80152, 80154, 80177, 80567, 80568, 80578, 80581, 80718, 80777, 80851, 80860, 80942, 81111, 81324, 81325, 81330, 81466, 81468, 81505, 81506, 81531, 81579, 81653, 81803, 81975, 81979, 82074, 82086, 82127, 82186, 82314, 82316, 82318, 82319, 82345, 82427, 82466, 82524, 82583, 82805, 82898, 82899, 82926, 83069, 83089, 83134, 83170, 83400, 83438, 83468, 83509, 83535, 83537, 83634, 83637, 83680, 83683, 83692, 83704, 83715, 83942, 83945, 83957, 83976, 84147, 84346, 84409, 84570, 84935, 85051, 85168, 85412, 85996, 86123, 86126, 86337, 86344, 86408, 86427, 86428, 86457, 86698, 86703, 86708, 86795, 86802, 86805, 86816, 86824, 86922, 87026, 87038, 87043, 87110, 87126, 87143, 87155, 87159, 87208, 87255, 87257, 87268, 87269, 87334, 87342, 87368, 87433, 87452, 87463, 87467, 87474, 87518, 87519, 87526, 87573, 87730, 87769, 87786, 87799, 87881, 87882, 87883, 87884, 87927, 87982, 88009, 88014, 88027, 88068, 88069, 88251, 88264, 88267, 88301, 88596, 88897, 88898, 88904, 88923, 88964, 88975, 89151, 89152, 89154, 89158, 89163, 89164, 89171, 89206, 89218, 89278, 89349, 89398, 89470, 89488, 89679, 89716, 89738, 89802, 89885, 89944, 89945, 90034, 90043, 90074, 90106, 90113, 90114, 90116, 90348, 90379, 90572, 90612, 90663, 91013, 91031, 91081, 91082, 91169, 91213, 91215, 91434, 91448, 91505, 91506, 91515, 91527, 91635, 91701, 91881, 92101, 92122, 92126, 92135, 92169, 92171, 92172, 92624, 92874, 92906, 92919, 92999, 93049, 93072, 93079, 93114, 93123, 93331, 93435, 93446, 93465, 93737, 93740, 93745, 93768, 93770, 93799, 94191, 94195, 94201, 94207, 94500, 94505, 94509, 94510, 94517, 94542, 94546, 94610, 94619, 94803, 94824, 94916, 95040, 95088, 95093, 95097, 95101, 95135, 95317, 95327, 95349, 95372, 95383, 95468, 95515, 95782, 95794, 95800, 95827, 95902, 95904, 95906, 95907, 96086, 96179, 96180, 96257, 96258, 96280, 96318, 96320, 96539, 96676, 96723, 96739, 96802, 96803, 96829, 96833, 96841, 96908, 96917, 96918, 96933, 96943, 96977, 97079, 97080, 97083, 97155, 97215, 97237, 97349, 97350, 97385, 97393, 97508, 97553, 97843, 97848, 97892, 97931, 97947, 98109, 98119, 98129, 98214, 98220, 98239, 98240, 98249, 98261, 98304, 98318, 98329, 98435, 98761, 98762, 98763, 98820, 98895, 98970, 98979, 99006, 99052, 99065, 99066, 99312, 99379, 99380, 99395, 99405, 99415, 99418, 99424, 99542, 99592, 99593, 99600, 99601, 99801, 99902, 99946, 99987, 99993, 100002]

In [ ]:
with open('Final.csv','r') as df:
  mycsv = csv.reader(df)
  mycsv = list(mycsv)
  num=0
  while(i<n):
    if i<breakpoints[num]:
      for it in range(0,len(group_users)):
        #print(gp, mycsv[i][5])
        if group_users[it]==int(mycsv[i][5]):
          temp1.append(int(mycsv[i][7]))
    else:
      for j in range(0,(len(group_users)-len(temp1))):
        temp1.append(0)
      #print(temp1)
      ratinglist.extend(temp1)
      temp1.clear()
      num+=1
    i+=1
num=0

In [ ]:
tempCSVfile = []
#numofpeople=[]*(len(group_users)+1)
numofpeople = [] 
colname='A'
numofpeople = ['title']
for iterator in range (0,len(group_users)):
  numofpeople.append(chr(ord(colname) + iterator))
with open("finafinalpakkafinal.csv", 'w') as csvfinalfile:
    csvwriter = csv.writer(csvfinalfile)
    csvwriter.writerow(numofpeople)

for i in range(0, len(my_list)):
  tempCSVfile.append(my_list[i])
  for j in range (0,len(group_users)):
    tempCSVfile.append(ratinglist[i+j])
  print(tempCSVfile)

  with open("finafinalpakkafinal.csv", 'a') as csvfinalfile:
    csvwriter = csv.writer(csvfinalfile)
    csvwriter.writerow(tempCSVfile)
  tempCSVfile.clear()

["'Til There Was You (1997)", 0, 0]
['1-900 (1994)', 0, 0]
['101 Dalmatians (1996)', 0, 0]
['12 Angry Men (1957)', 0, 2]
['187 (1997)', 2, 0]
['2 Days in the Valley (1996)', 0, 5]
['20,000 Leagues Under the Sea (1954)', 5, 0]
['2001: A Space Odyssey (1968)', 0, 0]
['3 Ninjas: High Noon At Mega Mountain (1998)', 0, 0]
['39 Steps, The (1935)', 0, 0]
['8 1/2 (1963)', 0, 0]
['8 Heads in a Duffel Bag (1997)', 0, 3]
['8 Seconds (1994)', 3, 0]
['A Chef in Love (1996)', 0, 4]
['Above the Rim (1994)', 4, 0]
['Absolute Power (1997)', 0, 1]
['Abyss, The (1989)', 1, 0]
['Ace Ventura: Pet Detective (1994)', 0, 0]
['Ace Ventura: When Nature Calls (1995)', 0, 0]
['Across the Sea of Time (1995)', 0, 0]
['Addams Family Values (1993)', 0, 0]
['Addicted to Love (1997)', 0, 0]
['Addiction, The (1995)', 0, 0]
['Adventures of Pinocchio, The (1996)', 0, 0]
['Adventures of Priscilla, Queen of the Desert, The (1994)', 0, 0]
['Adventures of Robin Hood, The (1938)', 0, 0]
['Affair to Remember, An (1957)', 0, 0]
['African Queen, The (1951)', 0, 0]
['Afterglow (1997)', 0, 0]
['Age of Innocence, The (1993)', 0, 3]
['Aiqing wansui (1994)', 3, 0]
['Air Bud (1997)', 0, 3]
['Air Force One (1997)', 3, 0]
['Air Up There, The (1994)', 0, 3]
['Airheads (1994)', 3, 0]
['Akira (1988)', 0, 0]
['Aladdin (1992)', 0, 0]
['Aladdin and the King of Thieves (1996)', 0, 0]
['Alaska (1996)', 0, 0]
['Albino Alligator (1996)', 0, 0]
['Alice in Wonderland (1951)', 0, 0]
['Alien (1979)', 0, 0]
['Alien 3 (1992)', 0, 0]
['Alien: Resurrection (1997)', 0, 0]
['Aliens (1986)', 0, 0]
['All About Eve (1950)', 0, 0]
['All Dogs Go to Heaven 2 (1996)', 0, 0]
['All Over Me (1997)', 0, 0]
['All Things Fair (1996)', 0, 0]
['Alphaville (1965)', 0, 0]
['Amadeus (1984)', 0, 0]
['Amateur (1994)', 0, 0]
['Amazing Panda Adventure, The (1995)', 0, 0]
['American Buffalo (1996)', 0, 0]
['American Dream (1990)', 0, 0]
['American President, The (1995)', 0, 0]
['American Strays (1996)', 0, 0]
['American Werewolf in London, An (1981)', 0, 0]
['American in Paris, An (1951)', 0, 0]
['Amistad (1997)', 0, 0]
["Amityville 1992: It's About Time (1992)", 0, 0]
['Amityville 3-D (1983)', 0, 1]
['Amityville Curse, The (1990)', 1, 0]
['Amityville Horror, The (1979)', 0, 4]
['Amityville II: The Possession (1982)', 4, 0]
['Amityville: A New Generation (1993)', 0, 0]
['Amityville: Dollhouse (1996)', 0, 0]
['Amos & Andrew (1993)', 0, 0]
['An Unforgettable Summer (1994)', 0, 0]
['Anaconda (1997)', 0, 4]
['Anastasia (1997)', 4, 0]
['Andre (1994)', 0, 4]
['Angel Baby (1995)', 4, 0]
['Angel and the Badman (1947)', 0, 0]
['Angel on My Shoulder (1946)', 0, 0]
['Angela (1995)', 0, 0]
['Angels and Insects (1995)', 0, 0]
['Angels in the Outfield (1994)', 0, 0]
['Angus (1995)', 0, 0]
['Anna (1996)', 0, 0]
['Anna Karenina (1997)', 0, 0]
['Anne Frank Remembered (1995)', 0, 5]
['Annie Hall (1977)', 5, 0]
['Another Stakeout (1993)', 0, 0]
["Antonia's Line (1995)", 0, 0]
['Aparajito (1956)', 0, 0]
['Apartment, The (1960)', 0, 0]
['Apocalypse Now (1979)', 0, 5]
['Apollo 13 (1995)', 5, 0]
['Apostle, The (1997)', 0, 0]
['Apple Dumpling Gang, The (1975)', 0, 0]
["April Fool's Day (1986)", 0, 1]
['Apt Pupil (1998)', 1, 0]
['Aristocats, The (1970)', 0, 0]
['Army of Darkness (1993)', 0, 0]
['Around the World in 80 Days (1956)', 0, 0]
['Arrival, The (1996)', 0, 0]
['Arsenic and Old Lace (1944)', 0, 0]
['As Good As It Gets (1997)', 0, 0]
['Assassins (1995)', 0, 5]
['Assignment, The (1997)', 5, 0]
['Associate, The (1996)', 0, 0]
['Audrey Rose (1977)', 0, 0]
['August (1996)', 0, 0]
['Austin Powers: International Man of Mystery (1997)', 0, 0]
['Awfully Big Adventure, An (1995)', 0, 0]
['Ayn Rand: A Sense of Life (1997)', 0, 0]
['B*A*P*S (1997)', 0, 0]
['B. Monkey (1998)', 0, 0]
['Babe (1995)', 0, 0]
['Baby-Sitters Club, The (1995)', 0, 0]
['Babyfever (1994)', 0, 0]
['Babysitter, The (1995)', 0, 0]
['Back to the Future (1985)', 0, 0]
['Backbeat (1993)', 0, 0]
['Bad Boys (1995)', 0, 0]
['Bad Company (1995)', 0, 0]
['Bad Girls (1994)', 0, 0]
['Bad Moon (1996)', 0, 0]
['Bad Taste (1987)', 0, 0]
['Ballad of Narayama, The (Narayama Bushiko) (1958)', 0, 0]
['Balto (1995)', 0, 0]
['Bananas (1971)', 0, 0]
['Band Wagon, The (1953)', 0, 0]
['Barb Wire (1996)', 0, 0]
['Barbarella (1968)', 0, 0]
['Barcelona (1994)', 0, 0]
['Basic Instinct (1992)', 0, 0]
['Basketball Diaries, The (1995)', 0, 0]
['Basquiat (1996)', 0, 0]
['Bastard Out of Carolina (1996)', 0, 0]
['Batman & Robin (1997)', 0, 0]
['Batman (1989)', 0, 0]
['Batman Forever (1995)', 0, 0]
['Batman Returns (1992)', 0, 0]
['Baton Rouge (1988)', 0, 0]
['Bean (1997)', 0, 0]
['Beans of Egypt, Maine, The (1994)', 0, 0]
['Beat the Devil (1954)', 0, 0]
['Beautician and the Beast, The (1997)', 0, 0]
['Beautiful Girls (1996)', 0, 0]
['Beautiful Thing (1996)', 0, 0]
['Beauty and the Beast (1991)', 0, 0]
['Beavis and Butt-head Do America (1996)', 0, 0]
['Bed of Roses (1996)', 0, 0]
['Bedknobs and Broomsticks (1971)', 0, 0]
['Before Sunrise (1995)', 0, 0]
['Before and After (1996)', 0, 0]
['Before the Rain (Pred dozhdot) (1994)', 0, 0]
['Being Human (1993)', 0, 0]
['Being There (1979)', 0, 0]
['Believers, The (1987)', 0, 4]
['Belle de jour (1967)', 4, 0]
['Ben-Hur (1959)', 0, 0]
['Benny & Joon (1993)', 0, 0]
['Bent (1997)', 0, 0]
['Best Men (1997)', 0, 0]
['Best of the Best 3: No Turning Back (1995)', 0, 0]
['Better Off Dead... (1985)', 0, 0]
['Beverly Hillbillies, The (1993)', 0, 0]
['Beverly Hills Cop III (1994)', 0, 0]
['Beverly Hills Ninja (1997)', 0, 0]
['Bewegte Mann, Der (1994)', 0, 0]
['Beyond Bedlam (1993)', 0, 0]
['Beyond Rangoon (1995)', 0, 0]
['Bhaji on the Beach (1993)', 0, 0]
['Big Bang Theory, The (1994)', 0, 0]
['Big Blue, The (Grand bleu, Le) (1988)', 0, 3]
['Big Bully (1996)', 3, 5]
['Big Green, The (1995)', 5, 0]
['Big Lebowski, The (1998)', 0, 0]
['Big Night (1996)', 0, 0]
['Big One, The (1997)', 0, 0]
['Big Sleep, The (1946)', 0, 3]
['Big Squeeze, The (1996)', 3, 0]
['Billy Madison (1995)', 0, 4]
['Bio-Dome (1996)', 4, 0]
['Bird of Prey (1996)', 0, 0]
['Birdcage, The (1996)', 0, 0]
['Birds, The (1963)', 0, 0]
['Bitter Moon (1992)', 0, 0]
['Bitter Sugar (Azucar Amargo) (1996)', 0, 0]
['Black Beauty (1994)', 0, 0]
['Black Sheep (1996)', 0, 1]
['Blade Runner (1982)', 1, 0]
['Blink (1994)', 0, 2]
['Bliss (1997)', 2, 0]
['Blob, The (1958)', 0, 4]
['Blood & Wine (1997)', 4, 0]
['Blood Beach (1981)', 0, 0]
["Blood For Dracula (Andy Warhol's Dracula) (1974)", 0, 0]
['Bloodsport 2 (1995)', 0, 0]
['Bloody Child, The (1996)', 0, 0]
['Blown Away (1994)', 0, 0]
['Blue Angel, The (Blaue Engel, Der) (1930)', 0, 0]
['Blue Chips (1994)', 0, 5]
['Blue Sky (1994)', 5, 0]
['Blue in the Face (1995)', 0, 0]
['Blues Brothers 2000 (1998)', 0, 0]
['Blues Brothers, The (1980)', 0, 0]
['Bob Roberts (1992)', 0, 0]
['Body Parts (1991)', 0, 0]
['Body Snatcher, The (1945)', 0, 0]
['Body Snatchers (1993)', 0, 0]
['Bogus (1996)', 0, 0]
['Bonheur, Le (1965)', 0, 0]
['Bonnie and Clyde (1967)', 0, 0]
['Boogie Nights (1997)', 0, 4]
['Boomerang (1992)', 4, 0]
['Boot, Das (1981)', 0, 0]
['Booty Call (1997)', 0, 0]
['Bottle Rocket (1996)', 0, 0]
['Bound (1996)', 0, 0]
['Boxing Helena (1993)', 0, 0]
["Boy's Life 2 (1997)", 0, 0]
['Boys (1996)', 0, 0]
['Boys Life (1995)', 0, 0]
['Boys in Venice (1996)', 0, 1]
['Boys of St. Vincent, The (1993)', 1, 0]
['Boys on the Side (1995)', 0, 0]
['Boys, Les (1997)', 0, 0]
['Brady Bunch Movie, The (1995)', 0, 0]
['Braindead (1992)', 0, 0]
["Bram Stoker's Dracula (1992)", 0, 0]
['Brassed Off (1996)', 0, 0]
['Braveheart (1995)', 0, 5]
['Brazil (1985)', 5, 0]
['Bread and Chocolate (Pane e cioccolata) (1973)', 0, 0]
['Breakdown (1997)', 0, 0]
["Breakfast at Tiffany's (1961)", 0, 2]
['Breaking the Waves (1996)', 2, 0]
['Bride of Frankenstein (1935)', 0, 0]
['Bridge on the River Kwai, The (1957)', 0, 0]
['Bridges of Madison County, The (1995)', 0, 0]
['Bringing Up Baby (1938)', 0, 0]
['Broken Arrow (1996)', 0, 0]
['Broken English (1996)', 0, 0]
['Bronx Tale, A (1993)', 0, 0]
['Brother Minister: The Assassination of Malcolm X (1994)', 0, 0]
["Brother's Kiss, A (1997)", 0, 0]
['Brothers McMullen, The (1995)', 0, 0]
['Brothers in Trouble (1995)', 0, 0]
['Browning Version, The (1994)', 0, 0]
['Buddy (1997)', 0, 0]
['Bulletproof (1996)', 0, 0]
['Bullets Over Broadway (1994)', 0, 0]
['Burnt By the Sun (1994)', 0, 0]
['Burnt Offerings (1976)', 0, 0]
['Bushwhacked (1995)', 0, 0]
['Butch Cassidy and the Sundance Kid (1969)', 0, 0]
['Butcher Boy, The (1998)', 0, 0]
['Butterfly Kiss (1995)', 0, 0]
['Bye Bye, Love (1995)', 0, 0]
["C'est arrivé près de chez vous (1992)", 0, 3]
['Cabin Boy (1994)', 3, 0]
['Cable Guy, The (1996)', 0, 0]
['Calendar Girl (1993)', 0, 0]
['Canadian Bacon (1994)', 0, 0]
['Candidate, The (1972)', 0, 0]
['Candyman (1992)', 0, 0]
['Candyman: Farewell to the Flesh (1995)', 0, 0]
['Cape Fear (1962)', 0, 1]
['Cape Fear (1991)', 1, 0]
['Captives (1994)', 0, 0]
['Career Girls (1997)', 0, 0]
['Careful (1992)', 0, 1]
["Carlito's Way (1993)", 1, 0]
['Carmen Miranda: Bananas Is My Business (1994)', 0, 1]
['Caro Diario (Dear Diary) (1994)', 1, 0]
['Carpool (1996)', 0, 0]
['Carrie (1976)', 0, 0]
['Carried Away (1996)', 0, 0]
['Carrington (1995)', 0, 0]
['Casablanca (1942)', 0, 0]
['Casino (1995)', 0, 0]
['Casper (1995)', 0, 0]
['Castle Freak (1995)', 0, 0]
['Cat People (1982)', 0, 0]
['Cat on a Hot Tin Roof (1958)', 0, 0]
["Cats Don't Dance (1997)", 0, 0]
['Catwalk (1995)', 0, 0]
['Caught (1996)', 0, 0]
['Celestial Clockwork (1994)', 0, 0]
['Celluloid Closet, The (1995)', 0, 0]
['Celtic Pride (1996)', 0, 0]
['Cement Garden, The (1993)', 0, 3]
['Cemetery Man (Dellamorte Dellamore) (1994)', 3, 0]
['Century (1993)', 0, 3]
['Chain Reaction (1996)', 3, 0]
['Chairman of the Board (1998)', 0, 2]
['Chamber, The (1996)', 2, 0]
['Charade (1963)', 0, 0]
['Chasers (1994)', 0, 0]
['Chasing Amy (1997)', 0, 0]
['Children of the Corn: The Gathering (1996)', 0, 0]
['Children of the Revolution (1996)', 0, 0]
['Chinatown (1974)', 0, 0]
['Christmas Carol, A (1938)', 0, 0]
['Chungking Express (1994)', 0, 0]
['Ciao, Professore! (1993)', 0, 0]
['Cinderella (1950)', 0, 0]
['Cinema Paradiso (1988)', 0, 0]
['Circle of Friends (1995)', 0, 0]
['Citizen Kane (1941)', 0, 3]
['Citizen Ruth (1996)', 3, 0]
['City Hall (1996)', 0, 0]
["City Slickers II: The Legend of Curly's Gold (1994)", 0, 0]
['City of Angels (1998)', 0, 0]
['City of Industry (1997)', 0, 0]
['City of Lost Children, The (1995)', 0, 0]
['Clean Slate (1994)', 0, 0]
['Clean Slate (Coup de Torchon) (1981)', 0, 0]
['Clear and Present Danger (1994)', 0, 0]
['Clerks (1994)', 0, 0]
['Client, The (1994)', 0, 0]
['Cliffhanger (1993)', 0, 0]
['Clockers (1995)', 0, 0]
['Clockwork Orange, A (1971)', 0, 0]
['Close Shave, A (1995)', 0, 0]
['Clueless (1995)', 0, 0]
['Cobb (1994)', 0, 0]
['Cold Comfort Farm (1995)', 0, 0]
['Coldblooded (1995)', 0, 0]
['Collectionneuse, La (1967)', 0, 0]
['Colonel Chabert, Le (1994)', 0, 0]
['Color of Night (1994)', 0, 0]
['Commandments (1997)', 0, 0]
['Con Air (1997)', 0, 0]
['Conan the Barbarian (1981)', 0, 0]
['Condition Red (1995)', 0, 0]
['Coneheads (1993)', 0, 0]
['Congo (1995)', 0, 0]
['Conspiracy Theory (1997)', 0, 0]
['Contact (1997)', 0, 0]
['Contempt (Mépris, Le) (1963)', 0, 0]
['Convent, The (Convento, O) (1995)', 0, 0]
['Cook the Thief His Wife & Her Lover, The (1989)', 0, 0]
['Cool Hand Luke (1967)', 0, 0]
['Cool Runnings (1993)', 0, 0]
['Cop Land (1997)', 0, 0]
['Cops and Robbersons (1994)', 0, 0]
['Copycat (1995)', 0, 5]
['Corrina, Corrina (1994)', 5, 0]
['Cosi (1996)', 0, 0]
['Country Life (1994)', 0, 0]
['Courage Under Fire (1996)', 0, 0]
['Cowboy Way, The (1994)', 0, 0]
['Craft, The (1996)', 0, 0]
['Crash (1996)', 0, 0]
['Crimson Tide (1995)', 0, 2]
['Critical Care (1997)', 2, 0]
['Cronos (1992)', 0, 0]
['Crooklyn (1994)', 0, 0]
['Crossfire (1947)', 0, 0]
['Crossing Guard, The (1995)', 0, 0]
['Crow, The (1994)', 0, 4]
['Crow: City of Angels, The (1996)', 4, 4]
['Crows and Sparrows (1949)', 4, 0]
['Crucible, The (1996)', 0, 0]
['Crude Oasis, The (1995)', 0, 0]
['Crumb (1994)', 0, 0]
['Cry, the Beloved Country (1995)', 0, 0]
['Crying Game, The (1992)', 0, 0]
['Curdled (1996)', 0, 0]
['Cure, The (1995)', 0, 0]
['Cutthroat Island (1995)', 0, 0]
['Cyclo (1995)', 0, 0]
['Cyrano de Bergerac (1990)', 0, 5]
['Cérémonie, La (1995)', 5, 0]
['D3: The Mighty Ducks (1996)', 0, 0]
['Dadetown (1995)', 0, 0]
['Daens (1992)', 0, 0]
['Damsel in Distress, A (1937)', 0, 0]
['Dances with Wolves (1990)', 0, 0]
['Dangerous Beauty (1998)', 0, 0]
['Dangerous Ground (1997)', 0, 0]
['Dangerous Minds (1995)', 0, 0]
["Daniel Defoe's Robinson Crusoe (1996)", 0, 0]
["Dante's Peak (1997)", 0, 0]
['Dark City (1998)', 0, 0]
['Dave (1993)', 0, 0]
['Davy Crockett, King of the Wild Frontier (1955)', 0, 0]
['Day the Earth Stood Still, The (1951)', 0, 0]
['Day the Sun Turned Cold, The (Tianguo niezi) (1994)', 0, 0]
['Daylight (1996)', 0, 0]
['Days of Thunder (1990)', 0, 0]
['Daytrippers, The (1996)', 0, 0]
['Dazed and Confused (1993)', 0, 0]
['Dead Man (1995)', 0, 0]
['Dead Man Walking (1995)', 0, 0]
['Dead Poets Society (1989)', 0, 0]
['Dead Presidents (1995)', 0, 0]
['Dear God (1996)', 0, 0]
['Death and the Maiden (1994)', 0, 0]
['Death in Brunswick (1991)', 0, 0]
['Death in the Garden (Mort en ce jardin, La) (1956)', 0, 0]
['Deceiver (1997)', 0, 0]
['Deconstructing Harry (1997)', 0, 4]
['Deep Rising (1998)', 4, 0]
['Deer Hunter, The (1978)', 0, 0]
['Delicatessen (1991)', 0, 0]
['Delta of Venus (1994)', 0, 0]
['Demolition Man (1993)', 0, 0]
['Denise Calls Up (1995)', 0, 0]
['Desert Winds (1995)', 0, 0]
['Designated Mourner, The (1997)', 0, 0]
['Desperado (1995)', 0, 0]
['Desperate Measures (1998)', 0, 0]
['Destiny Turns on the Radio (1995)', 0, 0]
['Devil in a Blue Dress (1995)', 0, 0]
["Devil's Advocate, The (1997)", 0, 0]
["Devil's Own, The (1997)", 0, 0]
['Diabolique (1996)', 0, 0]
['Dial M for Murder (1954)', 0, 0]
['Die Hard (1988)', 0, 0]
['Die Hard 2 (1990)', 0, 0]
['Die Hard: With a Vengeance (1995)', 0, 0]
['Die xue shuang xiong (Killer, The) (1989)', 0, 0]
['Dingo (1992)', 0, 0]
['Dirty Dancing (1987)', 0, 0]
['Disclosure (1994)', 0, 0]
['Diva (1981)', 0, 0]
['Dolores Claiborne (1994)', 0, 0]
['Don Juan DeMarco (1995)', 0, 5]
["Don't Be a Menace to South Central While Drinking Your Juice in the Hood (1996)", 5, 0]
['Donnie Brasco (1997)', 0, 0]
['Doom Generation, The (1995)', 0, 0]
['Doors, The (1991)', 0, 0]
['Double Happiness (1994)', 0, 0]
['Double Team (1997)', 0, 0]
['Double vie de Véronique, La (Double Life of Veronique, The) (1991)', 0, 0]
['Down Periscope (1996)', 0, 0]
['Down by Law (1986)', 0, 0]
['Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)', 0, 0]
['Dracula: Dead and Loving It (1995)', 0, 0]
['Dragonheart (1996)', 0, 0]
['Dream Man (1995)', 0, 0]
['Dream With the Fishes (1997)', 0, 0]
['Drop Dead Fred (1991)', 0, 0]
['Drop Zone (1994)', 0, 0]
['Drunks (1995)', 0, 0]
['Duck Soup (1933)', 0, 0]
['Dumb & Dumber (1994)', 0, 0]
['Dumbo (1941)', 0, 0]
['Dunston Checks In (1996)', 0, 0]
['Duoluo tianshi (1995)', 0, 3]
['E.T. the Extra-Terrestrial (1982)', 3, 0]
['East of Eden (1955)', 0, 0]
['Eat Drink Man Woman (1994)', 0, 0]
['Ed (1996)', 0, 4]
['Ed Wood (1994)', 4, 0]
["Ed's Next Move (1996)", 0, 5]
['Eddie (1996)', 5, 0]
['Edge, The (1997)', 0, 0]
['Eighth Day, The (1996)', 0, 0]
['Emma (1996)', 0, 4]
['Empire Strikes Back, The (1980)', 4, 0]
['Enchanted April (1991)', 0, 1]
['Endless Summer 2, The (1994)', 1, 0]
["Enfer, L' (1994)", 0, 5]
['English Patient, The (1996)', 5, 0]
['Englishman Who Went Up a Hill, But Came Down a Mountain, The (1995)', 0, 0]
['Entertaining Angels: The Dorothy Day Story (1996)', 0, 0]
['Eraser (1996)', 0, 4]
['Escape from L.A. (1996)', 4, 0]
['Escape from New York (1981)', 0, 0]
['Escape to Witch Mountain (1975)', 0, 0]
['Etz Hadomim Tafus (Under the Domin Tree) (1994)', 0, 0]
["Eve's Bayou (1997)", 0, 0]
['Even Cowgirls Get the Blues (1993)', 0, 0]
['Evening Star, The (1996)', 0, 0]
['Event Horizon (1997)', 0, 0]
['Everest (1998)', 0, 0]
['Every Other Weekend (1990)', 0, 0]
['Everyone Says I Love You (1996)', 0, 0]
['Evil Dead II (1987)', 0, 4]
['Evita (1996)', 4, 0]
['Excess Baggage (1997)', 0, 0]
['Executive Decision (1996)', 0, 0]
['Exit to Eden (1994)', 0, 3]
['Exotica (1994)', 3, 0]
['Extreme Measures (1996)', 0, 0]
['Eye for an Eye (1996)', 0, 0]
["Eye of Vichy, The (Oeil de Vichy, L') (1993)", 0, 0]
['Face/Off (1997)', 0, 0]
['Faces (1968)', 0, 0]
['Fair Game (1995)', 0, 0]
['FairyTale: A True Story (1997)', 0, 0]
['Faithful (1996)', 0, 0]
['Fall (1997)', 0, 0]
['Fallen (1998)', 0, 0]
['Falling in Love Again (1980)', 0, 0]
['Family Thing, A (1996)', 0, 0]
['Fan, The (1996)', 0, 0]
['Fantasia (1940)', 0, 0]
['Far From Home: The Adventures of Yellow Dog (1995)', 0, 0]
['Farewell My Concubine (1993)', 0, 0]
['Farewell to Arms, A (1932)', 0, 0]
['Fargo (1996)', 0, 0]
['Farinelli: il castrato (1994)', 0, 0]
['Farmer & Chase (1995)', 0, 0]
['Fast, Cheap & Out of Control (1997)', 0, 0]
['Faster Pussycat! Kill! Kill! (1965)', 0, 0]
['Fatal Instinct (1993)', 0, 0]
['Father of the Bride (1950)', 0, 0]
['Father of the Bride Part II (1995)', 0, 0]
["Fathers' Day (1997)", 0, 0]
['Faust (1994)', 0, 0]
['Fausto (1993)', 0, 0]
['Favor, The (1994)', 0, 3]
['Fear (1996)', 3, 0]
['Fear of a Black Hat (1993)', 0, 0]
['Fear, The (1995)', 0, 0]
['Fearless (1993)', 0, 0]
['Feast of July (1995)', 0, 0]
['Feeling Minnesota (1996)', 0, 0]
['Female Perversions (1996)', 0, 0]
['Field of Dreams (1989)', 0, 0]
['Fierce Creatures (1997)', 0, 0]
['Fifth Element, The (1997)', 0, 0]
['Fille seule, La (A Single Girl) (1995)', 0, 0]
['Fire Down Below (1997)', 0, 0]
['Fire on the Mountain (1996)', 0, 0]
['Firestorm (1998)', 0, 3]
['Firm, The (1993)', 3, 0]
['First Kid (1996)', 0, 0]
['First Knight (1995)', 0, 0]
['First Wives Club, The (1996)', 0, 0]
['Fish Called Wanda, A (1988)', 0, 0]
['Fled (1996)', 0, 0]
['Flesh and Bone (1993)', 0, 0]
['Flintstones, The (1994)', 0, 4]
['Flipper (1996)', 4, 0]
['Flirt (1995)', 0, 0]
['Flirting With Disaster (1996)', 0, 0]
['Flower of My Secret, The (Flor de mi secreto, La) (1995)', 0, 0]
['Flubber (1997)', 0, 0]
['Fluke (1995)', 0, 0]
['Fly Away Home (1996)', 0, 0]
['Fog, The (1980)', 0, 0]
['Fools Rush In (1997)', 0, 0]
['For Ever Mozart (1996)', 0, 0]
['For Love or Money (1993)', 0, 0]
['For Richer or Poorer (1997)', 0, 0]
['For Whom the Bell Tolls (1943)', 0, 0]
['For the Moment (1994)', 0, 0]
['Forbidden Christ, The (Cristo proibito, Il) (1950)', 0, 0]
['Forbidden Planet (1956)', 0, 0]
['Foreign Correspondent (1940)', 0, 0]
['Foreign Student (1994)', 0, 0]
['Forget Paris (1995)', 0, 0]
['Forrest Gump (1994)', 0, 0]
['Four Days in September (1997)', 0, 0]
['Four Rooms (1995)', 0, 0]
['Four Weddings and a Funeral (1994)', 0, 0]
['Fox and the Hound, The (1981)', 0, 0]
['Foxfire (1996)', 0, 0]
['Frankie Starlight (1995)', 0, 0]
['Free Willy (1993)', 0, 0]
['Free Willy 2: The Adventure Home (1995)', 0, 0]
['Free Willy 3: The Rescue (1997)', 0, 0]
['Freeway (1996)', 0, 0]
['French Kiss (1995)', 0, 0]
['French Twist (Gazon maudit) (1995)', 0, 0]
['Fresh (1994)', 0, 0]
['Friday (1995)', 0, 0]
['Fried Green Tomatoes (1991)', 0, 0]
['Frighteners, The (1996)', 0, 0]
['Frisk (1995)', 0, 0]
['From Dusk Till Dawn (1996)', 0, 0]
['Fugitive, The (1993)', 0, 0]
['Full Metal Jacket (1987)', 0, 0]
['Full Monty, The (1997)', 0, 0]
['Full Speed (1996)', 0, 0]
['Funeral, The (1996)', 0, 0]
['Funny Face (1957)', 0, 0]
['Further Gesture, A (1996)', 0, 0]
['G.I. Jane (1997)', 0, 0]
['Gabbeh (1996)', 0, 0]
['Game, The (1997)', 0, 0]
['Gandhi (1982)', 0, 0]
['Gang Related (1997)', 0, 0]
['Garden of Finzi-Contini, The (Giardino dei Finzi-Contini, Il) (1970)', 0, 0]
['Gaslight (1944)', 0, 0]
['Gate of Heavenly Peace, The (1995)', 0, 0]
['Gattaca (1997)', 0, 5]
['Gay Divorcee, The (1934)', 5, 5]
['George of the Jungle (1997)', 5, 0]
['Georgia (1995)', 0, 0]
['Germinal (1993)', 0, 0]
['Geronimo: An American Legend (1993)', 0, 0]
['Get Shorty (1995)', 0, 0]
['Get on the Bus (1996)', 0, 0]

In [ ]:
#Average Strategy
df = pd.read_csv('finafinalpakkafinal.csv')
colname='A'
sumrow=0
for i in range (0,len(group_users)):
    sumrow=sumrow+df[str(chr(ord(colname) + i))]
df['Average']=(sumrow/len(group_users)).round(3)
df.sort_values(by=['Average'], ascending=False).head(1000)

FileNotFoundError: ignored

In [ ]:
#least misery
maxratingoutofbond=6
lm=0
df['Least Misery'] = df.min(axis=1)
df.sort_values(by=['Least Misery'], ascending=False).head(15)

       user_id  item_id  rating  timestamp  Least Misery
32244       87      435       5  879875818             5
16058      330       71       5  876546236             5
84024      610      378       5  888703609             5
29254      121      313       5  891390013             5
16080       16      602       5  877719333             5
16078       58      483       5  884305220             5
29256      507      682       5  889964620             5
16076      429      511       5  882385542             5
29257      117      173       5  881011697             5
16074      249        9       5  879572402             5
16073      249      591       5  879572890             5
41363      524      845       5  884323426             5
77392      779      258       5  875501254             5
51843      472      173       5  875982641             5
16068      311      134       5  884364502             5

In [ ]:
#most pleasure
colname='A'
maxratingoutofbond=6
lm=0
df['Most Pleasure'] = df.max(axis=1)
df.sort_values(by=['Most Pleasure'], ascending=False).head(15)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """

,title,A,B,Average,Least Misery,Most Pleasure
800,Just Cause (1995),5,0,2.5,0.0,5.0
719,I Can't Sleep (J'ai pas sommeil) (1994),0,5,2.5,0.0,5.0
1143,Phantoms (1998),0,5,2.5,0.0,5.0
341,Copycat (1995),0,5,2.5,0.0,5.0
459,"Enfer, L' (1994)",0,5,2.5,0.0,5.0
460,"English Patient, The (1996)",5,0,2.5,0.0,5.0
1396,Star Trek: The Motion Picture (1979),5,0,2.5,0.0,5.0
1169,Powder (1995),0,5,2.5,0.0,5.0
996,Monty Python and the Holy Grail (1974),5,5,5.0,5.0,5.0
1170,Power 98 (1995),5,0,2.5,0.0,5.0
995,"Month by the Lake, A (1995)",0,5,2.5,0.0,5.0
1421,"Stupids, The (1996)",0,5,2.5,0.0,5.0
799,Jury Duty (1995),0,5,2.5,0.0,5.0
1422,SubUrbia (1997),5,0,2.5,0.0,5.0
720,I Don't Want to Talk About It (De eso no se ha...,5,0,2.5,0.0,5.0

In [ ]:
#Most Respected
#Assuming that the people are taken in the group according to seniority..
colname='A'
maxratingoutofbond=6
df['Most Respected'] = df['A']
df.sort_values(by=['Most Respected'], ascending=False).head(15)

,title,A,B,Average,Least Misery,Most Pleasure,Most Respected
226,Brazil (1985),5,0,2.5,0.0,5.0,5
734,In Love and War (1996),5,0,2.5,0.0,5.0,5
169,"Big Green, The (1995)",5,0,2.5,0.0,5.0,5
996,Monty Python and the Holy Grail (1974),5,5,5.0,5.0,5.0,5
342,"Corrina, Corrina (1994)",5,0,2.5,0.0,5.0,5
1322,"Shining, The (1980)",5,0,2.5,0.0,5.0,5
460,"English Patient, The (1996)",5,0,2.5,0.0,5.0,5
602,Gigi (1958),5,0,2.5,0.0,5.0,5
844,"Last Time I Committed Suicide, The (1997)",5,0,2.5,0.0,5.0,5
1254,Romeo Is Bleeding (1993),5,0,2.5,0.0,5.0,5
1396,Star Trek: The Motion Picture (1979),5,0,2.5,0.0,5.0,5
1170,Power 98 (1995),5,0,2.5,0.0,5.0,5
1622,White Man's Burden (1995),5,0,2.5,0.0,5.0,5
1552,Two if by Sea (1996),5,0,2.5,0.0,5.0,5
910,M. Butterfly (1993),5,0,2.5,0.0,5.0,5

In [ ]:
#Multiplicative
colname='A'
maxratingoutofbond=6
mul=1
for i in range (0,len(group_users)):
    mul=mul*df[str(chr(ord(colname) + i))]
df['Multiplicative'] = mul
df.sort_values(by=['Multiplicative'], ascending=False).head(15)

,title,A,B,Average,Least Misery,Most Pleasure,Most Respected,Multiplicative
996,Monty Python and the Holy Grail (1974),5,5,5.0,5.0,5.0,5,25
586,"Gay Divorcee, The (1934)",5,5,5.0,5.0,5.0,5,25
1243,Rising Sun (1993),5,5,5.0,5.0,5.0,5,25
1224,"Relic, The (1997)",5,5,5.0,5.0,5.0,5,25
1650,"Wooden Man's Bride, The (Wu Kui) (1994)",5,5,5.0,5.0,5.0,5,25
1225,"Reluctant Debutante, The (1958)",5,4,4.5,4.0,5.0,5,20
1144,Pharaoh's Army (1995),5,4,4.5,4.0,5.0,5,20
356,"Crow: City of Angels, The (1996)",4,4,4.0,4.0,4.0,4,16
168,Big Bully (1996),3,5,4.0,3.0,5.0,3,15
1242,Ripe (1996),3,5,4.0,3.0,5.0,3,15
666,Heat (1995),5,3,4.0,3.0,5.0,5,15
1560,Under Siege 2: Dark Territory (1995),2,4,3.0,2.0,4.0,2,8
1109,Oscar & Lucinda (1997),0,0,0.0,0.0,0.0,0,0
1108,Orlando (1993),3,0,1.5,0.0,3.0,3,0
1107,Original Gangstas (1996),0,3,1.5,0.0,3.0,0,0

In [ ]:
#Average without misery
colname='A'
sumrow=0
counter=0
cnvtlist=[]
for j in range (0,len(df)):
    counter=0
    sumrow=0
    for i in range (0,len(group_users)):
        pos=str(chr(ord(colname) + i))
        value = df.at[j,pos]
        if(value>1):
            sumrow=sumrow+value
            counter=counter+1
    if(counter>0):
        cnvtlist.append(sumrow/counter)
    else:
        cnvtlist.append(0)
ser = pd.Series(cnvtlist)
df['Average Without misery']=ser
df.sort_values(by=['Average Without misery'],ascending=False).head(1663)

,title,A,B,Average,Least Misery,Most Pleasure,Most Respected,Multiplicative,Average Without misery
1285,Scream 2 (1997),0,5,2.5,0.0,5.0,0,0,5.0
1321,Shine (1996),0,5,2.5,0.0,5.0,0,0,5.0
341,Copycat (1995),0,5,2.5,0.0,5.0,0,0,5.0
342,"Corrina, Corrina (1994)",5,0,2.5,0.0,5.0,5,0,5.0
367,Cyrano de Bergerac (1990),0,5,2.5,0.0,5.0,0,0,5.0
...,...,...,...,...,...,...,...,...,...
596,Ghost (1990),0,0,0.0,0.0,0.0,0,0,0.0
595,Getting Even with Dad (1994),0,0,0.0,0.0,0.0,0,0,0.0
594,Getting Away With Murder (1996),0,0,0.0,0.0,0.0,0,0,0.0
593,"Getaway, The (1994)",0,0,0.0,0.0,0.0,0,0,0.0
1662,unknown,0,0,0.0,0.0,0.0,0,0,0.0

In [ ]:
#Approval Voting
colname='A'
counter=0
newlist=[]
for j in range (0,len(df)):
    counter=0
    for i in range (0,len(group_users)):
        pos=str(chr(ord(colname) + i))
        value = df.at[j,pos]
        if(value>2):
            counter=counter+1
    if(counter>0):
        newlist.append(counter)
    else:
        newlist.append(0)
ser = pd.Series(newlist)
df['Approval Voting']=ser
df.sort_values(by=['Approval Voting'],ascending=False).head(10)

,title,A,B,Average,Least Misery,Most Pleasure,Most Respected,Multiplicative,Average Without misery,Approval Voting
586,"Gay Divorcee, The (1934)",5,5,5.0,5.0,5.0,5,25,5.0,2
356,"Crow: City of Angels, The (1996)",4,4,4.0,4.0,4.0,4,16,4.0,2
996,Monty Python and the Holy Grail (1974),5,5,5.0,5.0,5.0,5,25,5.0,2
1225,"Reluctant Debutante, The (1958)",5,4,4.5,4.0,5.0,5,20,4.5,2
1224,"Relic, The (1997)",5,5,5.0,5.0,5.0,5,25,5.0,2
1650,"Wooden Man's Bride, The (Wu Kui) (1994)",5,5,5.0,5.0,5.0,5,25,5.0,2
1144,Pharaoh's Army (1995),5,4,4.5,4.0,5.0,5,20,4.5,2
168,Big Bully (1996),3,5,4.0,3.0,5.0,3,15,4.0,2
666,Heat (1995),5,3,4.0,3.0,5.0,5,15,4.0,2
1242,Ripe (1996),3,5,4.0,3.0,5.0,3,15,4.0,2

In [ ]:
#Copeland rule
colname='A'
newlist=[]
for j in range (0,len(df)):

    for i in range (0,len(group_users)):
        pos1=str(chr(ord(colname) + i))
        val1 = df.at[j,pos1]
        beats = 0
        lose = 0
        for k in range (0,len(group_users)):
           pos2=str(chr(ord(colname) + k))
           val2 = df.at[j,pos2]
           if(val1 > val2):
             beats = beats+1
           elif(val2 > val1) :
             lose = lose+1

        cope = beats - lose
        newlist.append(cope)

ser = pd.Series(newlist)
df['Copeland Rule']=ser
df.sort_values(by=['Copeland Rule'],ascending=False).head(16)

,title,A,B,Average,Least Misery,Most Pleasure,Most Respected,Multiplicative,Average Without misery,Approval Voting,Copeland Rule
1203,Radioland Murders (1994),0,0,0.0,0.0,0.0,0,0,0.0,0,1
579,"Game, The (1997)",0,0,0.0,0.0,0.0,0,0,0.0,0,1
124,Barb Wire (1996),0,0,0.0,0.0,0.0,0,0,0.0,0,1
576,"Further Gesture, A (1996)",0,0,0.0,0.0,0.0,0,0,0.0,0,1
127,Basic Instinct (1992),0,0,0.0,0.0,0.0,0,0,0.0,0,1
128,"Basketball Diaries, The (1995)",0,0,0.0,0.0,0.0,0,0,0.0,0,1
523,Firestorm (1998),0,3,1.5,0.0,3.0,0,0,3.0,1,1
524,"Firm, The (1993)",3,0,1.5,0.0,3.0,3,0,3.0,1,1
575,Funny Face (1957),0,0,0.0,0.0,0.0,0,0,0.0,0,1
1020,Murder at 1600 (1997),0,0,0.0,0.0,0.0,0,0,0.0,0,1
1019,Muppet Treasure Island (1996),0,0,0.0,0.0,0.0,0,0,0.0,0,1
1334,Sirens (1994),0,0,0.0,0.0,0.0,0,0,0.0,0,1
1332,"Simple Wish, A (1997)",4,0,2.0,0.0,4.0,4,0,4.0,1,1
392,Dear God (1996),0,0,0.0,0.0,0.0,0,0,0.0,0,1
391,Dead Presidents (1995),0,0,0.0,0.0,0.0,0,0,0.0,0,1
736,In the Bleak Midwinter (1995),0,0,0.0,0.0,0.0,0,0,0.0,0,1

In [ ]:
#Bordacount
colname='A'
bor = 0
members = len(group_users)
for i in range (0,len(group_users)):
    bor += (members-i)*df[str(chr(ord(colname) + i))]
df['Borda'] = bor
df.sort_values(by=['Borda'], ascending=False).head(100)

,title,A,B,Average,Least Misery,Most Pleasure,Most Respected,Multiplicative,Average Without misery,Approval Voting,Copeland Rule,Borda
996,Monty Python and the Holy Grail (1974),5,5,5.0,5.0,5.0,5,25,5.0,2,0,15
586,"Gay Divorcee, The (1934)",5,5,5.0,5.0,5.0,5,25,5.0,2,0,15
1650,"Wooden Man's Bride, The (Wu Kui) (1994)",5,5,5.0,5.0,5.0,5,25,5.0,2,0,15
1224,"Relic, The (1997)",5,5,5.0,5.0,5.0,5,25,5.0,2,0,15
1243,Rising Sun (1993),5,5,5.0,5.0,5.0,5,25,5.0,2,0,15
...,...,...,...,...,...,...,...,...,...,...,...,...
70,Anastasia (1997),4,0,2.0,0.0,4.0,4,0,4.0,1,0,8
606,Girls Town (1996),4,0,2.0,0.0,4.0,4,0,4.0,1,-1,8
1400,"Stars Fell on Henrietta, The (1995)",4,0,2.0,0.0,4.0,4,0,4.0,1,0,8
72,Angel Baby (1995),4,0,2.0,0.0,4.0,4,0,4.0,1,0,8
32,Air Force One (1997),3,0,1.5,0.0,3.0,3,0,3.0,1,1,6